* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  background: black;
}

.whole {
  width: 100%;
  background: black;
  position: relative;
}

header {
  position: fixed;
  top: 5px;
  width: 100%;
  background: black;
}

.header-first{
  width: calc( 100% - 10px);
  max-width: 1000px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  margin: auto;
  border-radius: 15px;
}

.button_field {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  padding: 30px;
}

.button_field button {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  background: white;
  width: 100px;
  height: 50px;
}

.button_field button:active{
  background: black;
  border: 3px solid white;
}

.input_field{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.input_field_first{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input_field_first input{
  height: 33px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  background: white;
  width: 160px;
}

.input_field_second{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input_field_second button{
  background: white;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 10px;
  width: 160px;
}

.input_field_second button:active{
  background: black;
  border: 3px solid white;
}

main {
  width: 100%;
  background: black;
  position: relative;
  margin-top: 133px;
}

.main_body{
    width: 100%;
    background: transparent;
    padding: 50px;
}

.main_container{
    background: gray;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    display: none;
}

.rows{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.round{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
}

#start_button{
  opacity: 1;
}

#stop_button{
  opacity: 0;
}